main h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
    max-width: 263px;
    height: 69px;
    margin: 20px auto 0 82px;

}

main p {
    font-weight: 400;
    font-size: 20px;
    color: #555;
    max-width: 317px;
    height: 23px;
    margin: 0 auto 0 82px;
}

.cursos {
    max-width: 1440px;
    margin-bottom: 200px;
}

.curso {
    margin: 120px auto 68px auto;

}

.curso h2 {
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
    margin: 0 auto 37px 545px;

}

.curso p {
    font-weight: 300;
    font-size: 18px;
    color: #000;
    max-width: 724px;
    height: 105px;
    margin: 0 auto 53px 545px
}

.curso a {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: #419488;
    border: #419488;
    border-radius: 62px;
    margin: 0 auto 0 545px;
    text-decoration: none;
    padding: 13px 35px;
}

hr {
    color: #C4C4C4;
    margin-left: 5%;
    margin-right: 5%;

    
}

#curso1 {
    background-image: url(/xp42-dindin/assets/ilustra-poupando.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-size: 380px;
    height: 500px;
    box-shadow: 0 1px #C4C4C4;

}

#curso2 {
    background-image: url(/xp42-dindin/assets/ilustra-investimento.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-size: 380px;
    height: 585px;
    box-shadow: 0 1px #C4C4C4;

}

#curso3 {
    background-image: url(/xp42-dindin/assets/ilustra-independencia.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-size: 380px;
    height: 500px;

}


@media screen and (max-width: 768px) {  
    .curso {
        margin: 120px auto 20px auto;
    
    }
    
    .curso h2 {
        margin: 0 auto 37px 50px;
    
    }
    
    .curso p {
        margin: 0 100px 80px 50px;
        height: fit-content;
    }
    
    .curso a {
        margin: 100px auto 50px 50px;
    }

    #curso1 {
        background-image: none;
        height: 380px;

    }
    
    #curso2 {
        background-image: none;
        height: 380px;
    
    }
    
    #curso3 {
        background-image: none;
        height: 380px;
    
    }

}


@media screen and (max-width: 480px) {  
    main h1 {

        margin: 20px auto 0 50px;
    
    }
    
    main p {

        margin: 0 auto 0 50px;
    }

    .curso h2 {
        margin: 0 auto 37px 50px;
        max-width: 260px;
    
    }

    .curso p {
        margin: 0 100px 100px 50px
        
    }

    .curso a {
        margin: 100px auto 50px 50px;
    }

    #curso1 {
        height: 520px;

    }
    
    #curso2 {
        height: 520px;
    
    }
    
    #curso3 {
        height: 380px;
    
    }
}
