.post {
    margin: 0 auto 200px 204px;
}

.post h1{
    font-weight: 500;
    font-size: 50px;
    color: #FF4081;
    margin: 0 auto 12px 106px;
}

.legenda {
    font-weight: 300;
    font-size: 18px;
    color: #9D9D9D;
    margin: 0 auto 74px 416px;
}

.post img {
    width: 1032px;
    height: 465px;
    background-color: #C4C4C4;
    margin: 0 auto 64px 0;
}

.post p {
    font-weight: 300;
    font-size: 18px; 
    max-width: 1032px;

}

.post h3 {
    font-weight: 500;
    font-size: 26px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #2E948A;
}


.cursos {
    background-color: #F6F6F6;
    padding-top: 80px 
}

.cursos h2 {
    font-weight: 500;
    font-size: 50px;
    color: #FF4081;
    margin: 0 auto 0 456px;
}

.links-cursos-index {
    display: flex;
    flex-wrap: wrap;
    padding-top: 109px;
}

.card-curso-index img {
    width: 288px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    flex: 0 1 100%;
    
}

.card-curso-index h4 {
    font-weight: 700;
    font-size: 25px;
    color:#FF4081;
    display: block;
    text-align: center;
    margin-bottom: 23px;

}

.card-curso-index p {
    font-weight: 300;
    font-size: 17px;
    color:#000;
    display: block;
    text-align: center;
    width: 293px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;

}

.card-curso-index a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color:#FFF;
    display: block;
    text-align: center;
    border: 1px solid #FF4081;
    background-color: #FF4081;
    border-radius: 62px;
    padding: 10px 50px;
    margin: 0 120px 117px 120px;

}


@media screen and (max-width: 768px) {
    .post {
        margin: 0 70px 0 70px;
    }
    
    .post img {
        width: 100%;
        background-color: #C4C4C4;
        margin: 0 auto 50px auto;
    }

    .post h1{
        /* margin: 0 auto 12px 0;
        width: auto; */
        margin: 0 auto 20px;
        width: 100%;
    }
    
    .legenda {
        margin: 0 auto 74px 0;
        width: auto;
    }

    .cursos h2 {
        margin: 0 auto;
        width: 70%;
    }

    .links-cursos-index {
        justify-content: space-evenly;
    }
}